@import "../node_modules/bootstrap/scss/bootstrap";


$font-title: 'Montserrat', sans-serif;
$font-subtitle: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;
$font-name: 'Merriweather', serif;

header{
    height: 60vh;

    h1{
        font-family: $font-title;
    }
    h2{
        font-family: $font-subtitle;
    }
}
#myname{
    font-family: $font-name;
    font-size: 7rem;
}

h3{
    font-family: $font-subtitle;
}

nav{
    z-index: 10;
    font-family: $font-text;
}

form{
    font-family: $font-text;

  
}
#backgroundIMG{
    z-index: -10;
    height: 60vh;
    background-image: url(../img/BackgroundInit.svg);
    background-size: cover;
    width: 100%;
}

#title{
    z-index: 10000;
}

#imgcurse1{
    height: 50vh;
    width: 100%;
    background-image: url(../img/lavadodedinero.svg);
}

#imgcurse2{
    height: 50vh;
    width: 100%;
    background-image: url(../img/taxfraud.svg);
}

#imgcurse3{
    height: 50vh;
    width: 100%;
    background-image: url(../img/prestamos.svg);
}

#card-info1, #card-info2, #card-info3{
    width: fit-content;
    box-shadow: inset 0px 0px 500px 5px #0D1F2D;
}

#barra-vertical{
    transform: rotate(90deg);
    transform-origin: left;
    width: 5rem;
    
}
#barra-horizontal-2{
    width: 5rem;
}


#barra-vertical-2{
    transform: rotate(90deg);
    transform-origin: right;
    width: 5rem;
}



#barra-horizontal{
    width: 5rem;
}

#barra-horizontal-subtitle{
    width: 1rem;
}

#barra-vertical-subtitle{
    transform: rotate(90deg);
    transform-origin: left;
    width: 1rem;
}

#barra-horizontal-subtitle-2{
    width: 1rem;
}
#barra-vertical-subtitle-2{
    transform: rotate(90deg);
    transform-origin: right;
    width: 1rem;
    
}

#sobremi-items{
    font-family: $font-text;
}

#section-cursos{
    font-family: $font-subtitle;
}

#client-name{
    font-family: $font-text;
}

#client-comment{
    font-family: $font-subtitle;
}

#btn-send{
    font-size: 120%;
    height: 100%;
    font-weight: bolder;

}
